/* Global styles for leaderboard */
.container {
  height: 70vh;
  width: 40vw;
  background-color: #f8f9fa;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(6, 0, 0, 0.904);
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #52645a transparent;
  margin-top: 40%;
}

.title {
  width: fit-content;
  padding: 20px;
  background-color: #7d3434;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(225, 216, 204);

}

.leaderboardContainer {
  padding: 30px;
  background-color: #d1e0e0;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #303130;
  margin-top: 30px;
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}

h2 {
  color: #34495e;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 12px;
  font-size: 18px;
}

th {
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  background-color: #f9f9f9;
  color: #34495e;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

tr:hover td {
  background-color: #e1f7e1;
  cursor: pointer;
}

td:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #2ecc71;
}

