/* Login Card Styles */
.loginCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  margin-top:20%;
}

.loginCard h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #34495e;
}

/* Input Group Styles */
.inputGroup {
  margin-bottom: 15px;
  text-align: left;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  color: #34495e;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputGroup input:focus {
  border-color: #2ecc71;
  outline: none;
}

/* Login Button Styles */
.loginButton {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2ecc71;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #27ae60;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
  .loginCard {
    padding: 15px;
  }

  .loginCard h2 {
    font-size: 20px;
  }

  .inputGroup input,
  .loginButton {
    font-size: 14px;
  }
}
