@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /* Import Roboto */

/* Global styles */


.Title {
    height: 10vh;
    width: 30vw;
    background-color: #2ECC71;
    margin: 2rem auto; /* Center horizontally */
    display: flex; /* Flexbox for centering content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white; /* Title text color */
    font-size: 3rem; /* Font size for headings */
    font-weight: 700; /* Bold */
    border-radius: 1rem; /* Rounded corners for the title */
    margin-top: 40rem;
}

.container {
    height: 70vh;
    width: 40vw;
    background-color: #F8F9FA; /* Container background */
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(6, 0, 0, 0.904); /* Subtle shadow */
    overflow: hidden;
}

.Name {
    background-color: #2ECC71; /* Label color */
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Label font size */
    font-weight: 500; /* Medium */
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #F8F9FA; /* Text on label */
}

.NotificationWrapper {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #F8F9FA; /* Match container background */
    scrollbar-width: thin;
    scrollbar-color: #52645a transparent;
}

.NotificationWrapper::-webkit-scrollbar {
    width: 8px;
}

.NotificationWrapper::-webkit-scrollbar-thumb {
    background: #d1d3d2; /* Scrollbar thumb color */
    border-radius: 10px;
}

.Notification {
    margin-top: 1rem;
    font-size: 1.5rem; /* Body text font size */
    background-color: #c5b7bf; /* Notification background color */
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: left;
    color: #141415; /* Text color */
    font-weight: 400; /* Regular */
}
